body {
  background-image: url('https://i.pinimg.com/280x280_RS/2a/79/02/2a79025b68cc3958192bca75d2251a22.jpg'); /* Remplace par le chemin de ton image */
  background-size: cover; /* Ajuste l'image pour couvrir toute la page */
  background-position: center; /* Centre l'image */
  background-repeat: no-repeat; /* Empêche la répétition de l'image */
  height: 100vh; /* S'assure que le fond couvre toute la hauteur de l'écran */
  margin: 0;
}

h1 {
  color: black;
  text-align: center;
}

h2 {
  text-align: center;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 15px;
  color: #D8BFD8; /* Lavande clair */
  font-size: 35px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.content {
  background-color: #FAF0FF; /* Fond mauve très clair */
  border: 2px solid #BA55D3; /* Bordure mauve foncé */
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  max-width: 800px;
  width: 90%;
  padding: 20px;
  margin: 20px auto;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  font-size: 22px;
}

.content:hover {
  transform: scale(1.02);
}

p {
  font-family: Verdana, sans-serif;
  font-size: 20px;
}

.menu-container {
  display: flex;
  background-color: #9370DB; /* Violet moyen */
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.menu-item {
  padding: 15px 25px;
  text-align: center;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.menu-item a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: block;
}

.menu-item:hover {
  background-color: #8A2BE2; /* Violet plus foncé au survol */
  transform: scale(1.1);
}

.menu-item:active {
  background-color: #7B68EE; /* Bleu-violet foncé au clic */
}

@media (max-width: 768px) {
  .menu-container {
      flex-direction: column;
      width: 100%;
  }
  .menu-item {
      padding: 12px 0;
  }
}

.problematique {
  color: #9400D3;  /* Violet intense pour attirer l'attention */
  font-size: 27px;
  font-weight: bold;
}
